| $('form#new_user_watch .alert').remove();
| $('form#new_user_watch').prepend('<div class="alert alert-error"></div>');
| $("form#new_user_watch .alert-error").append('<div id="error_explanation"></div>');
| $("form#new_user_watch .alert-error #error_explanation").append('<h2>#{t :common_error_message}</h2>');
| $("form#new_user_watch .alert-error #error_explanation").append('<ul></ul>');
- errors.each do |err|
 | $("form#new_user_watch .alert-error #error_explanation ul").append('<li>#{err}</li>');
