<dl class="nice contained tabs">
  <dd>
    <a href="#nice1" class="active"><%= t :text_search%></a>
  </dd>
</dl>

<ul class="nice tabs-content contained">
  <li class="active" id="nice1Tab">
  	<%= form_tag request.env['PATH_INFO'], :class => "nice" do -%>
      <%= text_field_tag "search", '', :class =>'input-text', :placeholder => (t :search_text) %>
      <%= submit_tag (t :search) , :class => "inline small white button radius", :name => nil %>
    <% end -%>
  </li>
</ul>

