/*= require "foundation" */
/***************************************************
 Reset
 ***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	font-family: Georgia, "Times New Roman", Times, serif;
}

ol, ul {
	list-style: none;
}

a img {
	border: none
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

/**************************************************
 Global styles
 ***************************************************/

html, body {
	width: 100%;
	height: 100%;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif";*/
	font-weight: normal;
	position: relative;
}

h1 {
	font-size: 35px;
	line-height: 1.6;
	color: black;
	text-transform: capitalize;
	text-align: left;
	margin-left: 80px;
	display: block;
	margin-left: 0;
}
h1 span {
	line-height: 1.7px;
	color: black;
	font-size: 14px;
	text-transform: none;
	display: block;
}

h2 {
	font-size: 18px;
	line-height: 1.7;
	color: black;
	text-align: left;
	width: 350px;
	padding-top: 8px;
	margin-left: 40px;
}

h3 {
	font-size: 28px;
	line-height: 1.6;
	color: black;
	text-transform: none;
	text-align: left;
	background-color: transparent;
	padding-top: 12px;
	margin-bottom: 9px;
	border-bottom: 1px dotted black;
}

h3 span {
	font-size: 12px;
	color: black;
	text-transform: capitalize;
	height: 24px;
	margin-top: 15px;
	text-align: left;
	display: block;
}

h4 {
	font-size: 18px;
	line-height: 1.7;
	color: black;
	text-align: left;
	width: 350px;
	padding-top: 8px;
	margin-bottom: 12px;
}

h4 span {
	font-weight: bold;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #FFCC33;
	padding: 8px;
	margin-left: 20px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}

/*---------------------------
 *FORMS
 ---------------------------*/
form label {
	font-size: 1em;
	display: inline-block;
	font-weight: bold;
	color: #333;
}

form input {
	margin-bottom: 10px;
}

.button, textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
}

form.nice textarea, form.nice div.field input {
	font-size: 100% !important;
}

div.alert-box {
	font-size: 0.95em !important;
	width: 300px;
}

div.alert-box h4 {
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0,0.3);
	font-size: 1.25em;
	padding-top: 0;
	margin-bottom: 0;
}

/*	--------------------------------------------------
 :: Links
 -------------------------------------------------- */
a {
	color: #0066CC;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #170783;
}
a:focus {
	color: #cc4714;
	outline: none;
}
p a, p a:visited {
	line-height: inherit;
}

/***************************************************
 Main containers
 ***************************************************/

#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}

#container {
	/*position:relative;
	 /*width:980px;
	 margin:0 auto;
	 text-align:left;*/
	background-color: white;
	padding: 5px 15px 15px 15px;
	overflow: hidden;
	-mozz-box-shadow: 0 0 5px 5px #D8D8D8;
	-webkit-box-shadow: 0 0 5px 5px #D8D8D8;
	box-shadow: 0 0 5px 5px #D8D8D8;
}

.group1 {
	float: left;
	width: 613px;
	position: relative;
	background: white;
	padding: 15px;
	margin-bottom: 10px;
}

.group2 {
	float: right;
	width: 277px;
	position: relative;
	background: white;
	padding: 15px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.group3 {
	float: left;
	width: 613px;
	position: relative;
	background: white;
	padding: 15px;
	margin-top: -28px;
}

.group_bannner_left {
	width: 380px;
	position: absolute;
	top: 146px;
	left: 50px;
	background: transparent;
	margin-top: 50px;
}

header {
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}

/**************************************************
 INTRO
 ***************************************************/

#linker-top {
	/*width: 100%;*/
	height: 300px;
	background-image: url(top-left.png);
	background-repeat: no-repeat;
	z-index: 1;
}

#linker {
	width: 850px;
	position: relative;
	margin: 0 0 0 90px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	z-index: 10;
}
#linker-bottom {
	height: 90px;
	background-image: url(bottom_p.png);
	background-repeat: no-repeat;
	background-position-x: center;
}
#logo {
	width: 420px;
	height: 130px;
	z-index: 5;
	background-position-x: right;
	background-position-y: bottom;
	position: relative;
	/*top: 140px;*/
	left: 70px;
}
#logo a {
	position: relative;
	top: 60px;
}
#login-menu {
	float: right;
	height: 100px;
	text-align: right;
	margin-bottom: 7px;
	margin-top: 10px;
	font-size: 1em;
	line-height: 23px;
}
#login-menu span {
	font-size: 1.3em;
}

#login-menu a.active {
	background: #06C;
	color: #fff;
	padding: 2px 12px;
	font-weight: bold;
}
#login-menu a {
	text-decoration: none;
	border-radius: 30px;
}

/*#login_menu span a:hover { color: #0066FF; }*/

#page-top {
	width: 450px;
	height: 100px;
	margin-top: 50px;
	margin-right: 30px;
	float: right;
	background-image: url(title_bg.png);
	background-repeat: no-repeat;
	background-position-x: right;
}

#page-top span#twitter {
	width: 100%;
	height: 150px;
	display: block;
	background-image: url('/images/twitter.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35%;
}

.form_required_tx {
	margin: 10px 0 10px 0;
	color: #FF0000;
}
.flash {
	color: #77CC00;
	margin: 15px 0 10px 0;
}

.tooltip {
	display: none;
	background-color: #FFCC33;
	position: absolute;
	/*color: #fff;*/
	color: #000 !important;
	/*font-weight: bold;*/
	/*font-size: 12px;*/
	font-size: 0.9em;
	padding: 8px;
	z-index: 999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: normal;
	max-width: 300px;
}

.has-tip:hover {
	border-bottom: dotted 1px #0593dc;
	color: #0066CC;
}

/*	--------------------------------------------------
 Sub Navs
 http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na
 -------------------------------------------------- */

dl.sub-nav {
	display: block;
	width: auto;
	overflow: hidden;
	margin: -4px 0 18px -9px;
	padding-top: 4px;
}
dl.sub-nav dt, dl.sub-nav dd {
	float: left;
	display: inline;
	margin-left: 9px;
	margin-bottom: 4px;
}
dl.sub-nav dt {
	color: #999;
	font-weight: normal;
}
dl.sub-nav dd a {
	text-decoration: none;
	border-radius: 80px;
}
dl.sub-nav dd a.active {
	background: #06C;
	color: #fff;
	padding: 4px 12px;
	font-weight: bold;
}
dl.sub-nav dd a:hover {
	background-color: #06C;
	color: #fff;
	padding: 4px 12px;
	font-weight: bold;
}
/***************************************************
 HOLDERS
 ***************************************************/

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 8px;
	background: white;
}

.holder_content_separator {
	margin-bottom: 20px;
}

/********************************
 Twiter feed
 *******************************/
div#twitter {
	margin-top: 20px;
}
**************************************************
ERRORS
***************************************************/
#error_explanation {
	border: none;
	background-color: transparent;
	font-size: 1.1em;
	color: red;
	background-color: #FFCC33;
	padding: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 10px;
}

#error_explanation ul li {
	font-size: 1em;
	list-style: none;
}
#error_explanation h2 {
	border: none;
	background-color: transparent;
	color: #000000;
	font-size: 1.3em;
	padding-left: 10px;
}
.field_with_errors {
	background-color: transparent;
	display: inline;
}
.field_with_errors label {
	background-color: transparent;
	color: red;
}

/***************************************************
 GALLERY
 ***************************************************/

a.photo_hover3 {
	position: relative;
	float: right;
	margin: 5px 13px 8px 0;
	padding: 8px;
}
a.photo_hover3 {
	background-color: white;
	border: 1px solid #E1E1E1;
}
a.photo_hover3:hover {
	border: 1px dotted #66CCFF;
	background-color: #C7EDFF;
	opacity: 0.9;
	z-index: 1000;
}

a.photo_hover2 {
	position: relative;
	float: left;
	margin: 5px 13px 8px 0;
	padding: 8px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
a.photo_hover2 {
	background-color: white;
	border: 1px solid #E1E1E1;
}
a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
}

/**************************************************
 FOOTER
 ***************************************************/

footer {
	position: relative;
	height: 90px;
	clear: both;
	margin-bottom: 18px;
	background-color: black;
}
/***************************************************
 MENU
 ***************************************************/

nav {
	position: absolute;
	width: 400px;
	top: 85px;
	right: 0;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);
	 -webkit-border-radius: .5em;
	 -moz-border-radius: .5em;
	 border-radius: .5em;
	 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	/*box-shadow: 0 1px 2px rgba(0,0,0,.2);
	 background: #D7D7D7;*/
}

nav ul li {
	/*float: left;
	 margin-left:16px;
	 line-height:normal;*/
}

nav ul li a {
	/*font-size: 20px;
	 font-family:Georgia, "Times New Roman", Times, serif;
	 color: white;
	 text-transform:capitalize;
	 font-weight:normal;
	 display:block;	/* IE6, IE7 line height fix */
	padding-bottom: 8px;
	padding-top: 15px;
	background-color: transparent;
	margin-top: 0px;
	margin-right: 6px;
	text-decoration: none;
}

nav ul li a:hover {
	/*color: white;*/
	text-decoration: underline;
}

nav ul li a.current {
	background-color: #FFCC33;
	padding: 15px;
}

.content_menu {
	float: left;
	width: 274px;
	margin-top: -10px;
	margin-bottom: 15px;
}

.content_menu ul {
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li {
	float: none;
	padding-bottom: 16px;
}

.content_menu ul li a {
	font-size: 14px;
	line-height: normal;
	color: #33CC99;
	text-align: left;
	text-decoration: none;
	background-image: url(../images/circle.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.content_menu ul li a:hover {

}

/***************************************************
 SPECIFIC
 ***************************************************/

.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}

.readmore {
	font-weight: bold;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333333;
}

.readmore a {
	color: #333333;
}

.holder_news {
	width: 274px;
	float: left;
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
	padding-bottom: 12px;
}

.holder_tweets {
	float: left;
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
}

.holder_tweets .twee-date {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	/*background-color:#FFCC33;*/
	float: right;
	padding: 8px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);#filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);#filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

.black a {
	color: #ffffff;
}   