/*
 *= require bootstrap_and_overrides
 */

.main-unit {
    margin-top: 10px;
    padding: 5px 40px 20px 40px;
    margin-bottom: 20px;
    background-color: #f8f8ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.holder_tweets {
    width: 100%;
    float: left;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
}

.holder_tweets .twee-date {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    float: right;
    padding: 8px;
}

textarea{
    max-width: 270px;
}

.page-header{
    margin-bottom: 10px;
}

span#twitter {
    width: 100%;
    height: 110px;
    display: block;
    background-image: url('/images/twitter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

#link-detail{
    font-size: 1.2em;
    color: #505050;
    word-break: normal;
}
#link-detail .button{
    margin-top: 10px;
}

#search-results{
    display: block;
    font-size: 1.1em;
    margin: 15px 0 0 0;
    color: black;
}

div#error_explanation h2{
    font-size: 1.4em;
    padding: 0 10px;
    margin: 0;
}

span.label, a.label{
  padding: 5px;
}
h1, h2, h3,h4, h5{
    /*font-family: 'Chicle', cursive;
    font-family: 'Arbutus Slab', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Molle', cursive;
    font-family: 'Eagle Lake', cursive;
    111font-family: 'Marck Script', cursive;
    font-family: 'Oranienbaum', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sofadi One', cursive;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Griffy', cursive;
    font-family: 'Jacques Francois', serif;
   font-family: 'Courgette', cursive; */
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'Comfortaa', cursive;
}

.brand{
    /*font-family: 'Marck Script', cursive;*/
    /*font-family: 'Racing Sans One', cursive;*/
    font-size: 2.7em !important;
    /*font-family: 'Griffy', cursive; */
    /*font-family: 'Sofadi One', cursive; */
    font-family: 'Comfortaa', cursive;
    height: 30px;
}
div.line{
    margin: 10px;
    width: 100%;
}

footer{
    /*font-family: 'Sofadi One', cursive;*/
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
}

.btn{
    font-family: 'Comfortaa', cursive;
}

.site-item{
    margin: 10px 0;
}

.site-item span{
    font-family: 'Comfortaa', cursive;
    padding: 0 7px;
    font-size: 1.6em;
}
.stats {
    margin-left: 5px;
}
.stats.plus{
   color: green !important;
}

.stats.minus{
    color: #ff4500 !important;
}

#subscription .input-prepend .add-on, #my-sites .input-prepend .add-on{
    margin: 0 !important;
}

#subscription .field_with_errors{
    display: inline-block;
}

#subscription #payment{
    margin-top: -7px;
}
